<%= stylesheet_link_tag "custom/styles" %>
<link href='http://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Gabriela' rel='stylesheet' type='text/css'>


<%= render :partial => 'layouts/header' %>

<div id="plans_list" class="shell">

  <input id="userid" value="<%= current_user.id %>" type="hidden">
  <div id="plans_count_text">
    You have <div id="plans_count" style="display: inline;"><%= pluralize(@upcoming_plans.count, 'plan') %></div> coming up!
  </div>
  <br>
  <a class="gold-btn" id="newplan" >Start New Plan</a>
  <br>

  <table id="plans_table" >
  <thead>
  <tr>
    <td width="38%"><b>Date</b></td>
    <td width="12%"><b>Friends</b></td>
    <td><b>Top Pick</b></td>
  </tr>
  </thead>
  <tbody>
  <% @upcoming_plans.each do |plan| %>
  <tr class="plan_record" id="<%= plan.id %>">
    <td><a href="/plans/<%= plan.id %>">
      <%= plan.plandate.strftime("%A") %> <%= plan.plandate.strftime("%b") %> <%= plan.plandate.strftime("%d") %><br> - <%= plan.name %></a>
    </td>
    <td align="center"><%= plan.invites.count - 1 %></td>
    <td valign="center">
      <% if (!plan.toppick.nil?) %>
          <% if (!plan.toppick.venue.image.blank?) %>
            <a href="<%= plan.toppick.venue.website %>" title="<%= plan.toppick.venue['name'] %>" target="_blank"><img src="<%= plan.toppick.venue.image %>" width="140" height="70"></a>
          <% else %>
              <a href="<%= plan.toppick.venue.website %>" title="<%= plan.toppick.venue['address'] %>" target="_blank"><%= plan.toppick.venue['name'] %></a><br> - <%= plan.toppick.venue['address'] %>
          <% end %>
      <% end %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>

</div>


<form id="newplan_form" style="display:none" class="popupform">
    <body>
    <div class="popupform_header">New plan</div>
    <div class="popupform_content">

        <table>
          <tr>
            <td>
              Name:
            </td>
            <td>
              <input id="plan_name" type="input" maxlength="20">
            </td>
          </tr>
          <tr>
            <td>
              Date:
            </td>
            <td>
              <input id="plan_date" type="date" value="<%= Date.today %>">
            </td>
          </tr>
        </table>
        <a id="submitnewplan" class="gold-btn">Create</a>
        <a id="closenewplan" class="gold-btn">Close</a>
    </div>

    </body>
  </form>

  <form id="errPopup_form" style="display:none">
    <body>
    <div id="errPopup_form_head">
      <input id="closeError" type="button" value="Close">
    </div>
    <div id="error_text"></div>
    </body>
  </form>