<%= stylesheet_link_tag "custom/styles" %>


<div id="container">

<%= render :partial => 'layouts/header' %>

<div id="plans_list">

  <input id="userid" value="<%= current_user.id %>" type="hidden">
  <h2>You have <div id="plans_count" style="display: inline;"><%= pluralize(@upcoming_plans.count, 'plan') %></div> coming up!</h2>
  <br>
  <input id="newplan" type="button" value="Start New Plan">
  <br>

  <table id="plans_table" >
  <thead>
    <td><b>Plan Date</b></td>
    <td><b>Plan Name</b></td>
    <td><b># of friends</b></td>
    <td><b>Top Pick</b></td>
    <td><b>Points left for you to vote</b></td>
  </thead>
  <% @upcoming_plans.each do |plan| %>
  <tr>
    <td>
      <%= plan.plandate.strftime("%A") %> <%= plan.plandate.strftime("%b") %> <%= plan.plandate.strftime("%d") %>, <%= plan.plandate.strftime("%Y") %>
    </td>
    <td><%= link_to plan.name, plan %></td>
    <td align="center"><%= plan.invites.count - 1 %></td>
    <td valign="center">
      <% if (!plan.toppick.nil?) %>
          <% if (!plan.toppick.venue.image.blank?) %>
            <a href="<%= plan.toppick.venue.website %>" title="<%= plan.toppick.venue['name'] %>" target="_blank"><img src="<%= plan.toppick.venue.image %>" width="140" height="70"></a>
          <% else %>
              <a href="<%= plan.toppick.venue.website %>" title="<%= plan.toppick.venue['name'] %>" target="_blank"><%= plan.toppick.venue['name'] %></a>
          <% end %>
      <% end %>
    </td>
    <td align="center"><%= 10 - Point.sum(:count, :conditions => ['suggestion_id = ? AND invite_id = ?', suggestion.id, Invite.find_by_plan_id_and_user_id(@plan.id, current_user['id'])]) %></td>
  </tr>
  <% end %>
</table>

  <form id="newplan_form" style="display:none">
    <body>
    <h1>New plan</h1>

    <table>
      <tr>
        <td>
          Date:
        </td>
        <td>
          <input id="plan_date" type="date" value="<%= Date.today %>">
        </td>
      </tr>
      <tr>
        <td>
          Name:
        </td>
        <td>
          <input id="plan_name" type="input" maxlength="20">
        </td>
      </tr>
    </table>
    <br>
    <input id="submitnewplan" type="button" value="Create">

    <input id="closenewplan" type="button" value="Close">

    </body>
  </form>

  <form id="errPopup_form" style="display:none">
    <body>
    <div id="errPopup_form_head">
      <input id="closeError" type="button" value="Close">
    </div>
    <div id="error_text"></div>
    </body>
  </form>

</div>
</div>