<%= stylesheet_link_tag "custom/header" %>

<head background="black">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />

  <title>Plantourage</title>

  <!-- These are Open Graph tags.  They add meta data to your  -->
  <!-- site that facebook uses when your content is shared     -->
  <!-- over facebook.  You should fill these tags in with      -->
  <!-- your data.  To learn more about Open Graph, visit       -->
  <!-- 'https://developers.facebook.com/docs/opengraph/'       -->
  <meta property="og:title" content="Plantourage" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%= url %>" />
  <meta property="og:image" content="<%= url('images/LOGOOO.png') %>" />
  <meta property="og:site_name" content="Plantourage" />
  <meta property="og:description" content="" />
  <meta property="fb:app_id" content="Plantourage" />

  <script type="text/javascript" src="/javascripts/jquery-1.7.1.min.js"></script>

  <script type="text/javascript">
      function logResponse(response) {
          if (console && console.log) {
              console.log('The response was', response);
          }
      }

      $(function(){
          // Set up so we handle click on the buttons
          $('#postToWall').click(function() {
              FB.ui(
                      {
                          method : 'feed',
                          link   : $(this).attr('data-url')
                      },
                      function (response) {
                          // If response is null the user canceled the dialog
                          if (response != null) {
                              logResponse(response);
                          }
                      }
              );
          });

          $('#sendToFriends').click(function() {
              FB.ui(
                      {
                          method : 'send',
                          link   : $(this).attr('data-url')
                      },
                      function (response) {
                          // If response is null the user canceled the dialog
                          if (response != null) {
                              logResponse(response);
                          }
                      }
              );
          });

          $('#sendRequest').click(function() {
              FB.ui(
                      {
                          method  : 'apprequests',
                          message : $(this).attr('data-message')
                      },
                      function (response) {
                          // If response is null the user canceled the dialog
                          if (response != null) {
                              logResponse(response);
                          }
                      }
              );
          });
      });
  </script>

  <!--[if IE]>
  <script type="text/javascript">
      var tags = ['header', 'section'];
      while(tags.length)
          document.createElement(tags.pop());
  </script>
  <![endif]-->

<header>
    <div id="header">
        <h1><a href="/"><img src="/images/plantourage_logo.png"></a></h1>
        <div id="menu">
            <% if current_user %>
              <table>
                <tr>
                  <td>
                    <img src="https://graph.facebook.com/<%= current_user['uid'] %>/picture?type=square" alt="<%= current_user['name'] %>"><br margin="0px">
                  </td>
                  <td>
                    <%= link_to image_tag("/images/myplans3.png", :height => 40, :width => 100), current_user %>
                  </td>
                  <td>
                    <a href='/sign_out' class="fb_button fb_button_large">
                      <span class="fb_button_text">Sign out</span>
                    </a>
                  </td>
                </tr>
              </table>
            <% else %>
                  <table>
                    <tr>
                      <td>
                        <!--
                        <a href='/auth/facebook' class="fb_button fb_button_medium">
                          <span class="fb_button_text">Log in</span>
                        </a>
                        -->
                        <a href='/auth/facebook'>
                          <img src="/images/FB.jpg" height="60" width="220">
                        </a>
                      </td>
                    </tr>
                  </table>
            <% end %>
    </div>
  </div>
</header>

  <script type="text/javascript">
      window.fbAsyncInit = function() {
          FB.init({
              appId      : "<%= ENV["FACEBOOK_APP_ID"] %>",                     // App ID
              channelUrl : "<%= url_no_scheme('/channel.html') %>", // Channel File
              status     : true,                                    // check login status
              cookie     : true,                                    // enable cookies to allow the server to access the session
              xfbml      : true                                     // parse XFBML
          });

          // Listen to the auth.login which will be called when the user logs in
          // using the Login button
          FB.Event.subscribe('auth.login', function(response) {
              // We want to reload the page now so Ruby can read the cookie that the
              // Javascript SDK sat. But we don't want to use
              // window.location.reload() because if this is in a canvas there was a
              // post made to this page and a reload will trigger a message to the
              // user asking if they want to send data again.
              window.location = window.location;
          });

          FB.Canvas.setAutoGrow();
      };

      // Load the SDK Asynchronously
      (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js";
          fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
  </script>


</head>
